=form_for [ "admin", @type ] do |f|
  %p
    =f.text_field :name, placeholder: "Name", class: "form-control input-lg"

  %h3 Custom fields

  =f.fields_for :field_definitions do |builder|
    =render "field_definition_fields", f:builder
  %p
    =link_to_add_fields "Add Custom Field", f, :field_definitions
    %p
    =f.submit
