=form_for [ "admin", @user_role ] do |f|

  %p
    %label User:
    =f.select :user_id,  users_available_select(@user_role) , class: "form-control", include_blank: true
    
  %p
    %label Title:
    / =f.text_field :title, placeholder: "Title", class: "form-control input-lg"
    =f.select :role_num,  roles_available_select(@user_role) , class: "form-control", include_blank: true

  %p
    =f.submit
