%h1 User Roles

-users = available_users @user_roles
%ul
-users.each do |u|
  %li
    = user_email_from_id u
    %ul
      - (roles_from_user_id u).each do |r|
        %li
          =role_name r.role_num
          =link_to "Destroy", admin_user_role_path(r), :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %h3 List
/ %ul
/   -@user_roles.each do |ur|
/     %li
/       =user_email(ur)
/       =link_to "edit", edit_admin_user_role_path(ur)
/       =link_to "Destroy", admin_user_role_path(ur), :method => :delete, :data => { :confirm => 'Are you sure?' }
/     %ul
/       %li
/         =role_name ur.role_num
%p
  =link_to "New User Role", new_admin_user_role_path