%fieldset
  %p
  %h3 Menu Item
  =f.label :title
  =f.text_field :title
  =f.label :url
  =f.text_field :url
  =f.hidden_field :id
  =f.hidden_field :parent_id
  =f.hidden_field :_destroy
  =link_to "remove", '#', class: "remove_fields"
  %h5 Menu Sub-Items
  =f.fields_for :children do |builder|
    = render 'child_fields', f:builder
  =link_to_add_fields "Add Child", f, :children
  %p
