%h1 Menus

%h3 Info
Available: "Main Nav" --- Maybe create: "Right Side Menu", "Left Side Menu"
%p

%h3 List
%p

%ul
  -@menus.each do |menu|
    %li
      %h4
        =menu.name
        _
        =link_to "Edit", edit_admin_menu_path(menu)
        |
        =link_to 'Destroy', admin_menu_path(menu), :method => :delete, :data => { :confirm => 'Are you sure?' }
      %ul
        -menu.menu_items.each do |item|
          %li
            =link_to item.title, url_for_menu_item(item)
            %ul
              -item.children.each do |child|
                %li=link_to child.title, url_for_menu_item(child)
            
%p
  =link_to "New Menu", new_admin_menu_path

